@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;700&display=swap");
:root {
  --clr-primary: #1d1d1d;
  --clr-accent: #fff;
  --clr-darkGrey: #353434;
  --clr-lightGrey: #757575;

  --ff-primary: "Figtree", sans-serif;
  /* --ff-light: "proxima nova light", sans-serif; */
  /* --ff-bold: "proxima nova bold", sans-serif; */

  --fw-regular: 400;
  --fw-semi-bold: 500;
  --fw-bold: 700;
  /*size*/
  --fs-200: 0.8125rem;
  --fs-300: 0.875rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.6rem;
  --fs-700: 2.25rem;
  --fs-800: 5rem;
  --fs-900: 6.375rem;

  --fs-body: var(--fs-400);
  --fs-primary-heading: var(--fs-800);
  --fs-secondary-heading: var(--fs-700);
  --fs-nav: var(--fs-400);
  --fs-paragraph: var(--fs-500);
  --fs-card-title: var(--fs-500);

  --size-100: 0.25rem;
  --size-200: 0.5rem;
  --size-300: 0.75rem;
  --size-400: 1rem;
  --size-500: 1.25rem;
  --size-600: 1.5rem;
  --size-700: 2rem;
  --size-800: 2.5rem;
  --size-900: 3rem;
}

@media (min-width: 50em) {
  :root {
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
  }
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  /* text-decoration-skip-ink: auto; */
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*General styling*/
body {
  font-family: var(--ff-primary);
}
.container {
  --max-width: 1450px;
  --padding: 1.25rem;

  width: min(var(--max-width), 100% - (var(--padding)) * 2);
  margin-right: auto;
  margin-left: auto;
}
.even-col {
  display: grid;
  grid-column: 1fr;
}
@media (min-width: 50em) {
  .even-col {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}
.primary-header {
  padding: 1.5rem;
  color: var(--clr-accent);
  background-color: var(--clr-primary);
}
.logo {
  width: 3rem;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8vh;
}
.nav-wrapper {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.nav-links {
  display: flex;
}
.nav-links li {
  margin: 0 1.5rem;
  transition: all 0.2s ease-in-out;
}
.nav-links li:hover {
  color: var(--clr-lightGrey);
}
.nav-social-icons {
  display: flex;
}
.nav-social-icons li {
  width: 1.75rem;
  margin: 0 1rem;
}
.burger-btn {
  width: 1.5rem;
  background: transparent;
  border: none;
}
.burger-btn {
  display: none;
}

/* FOR TOGGLE NAV BAR */
@media (max-width: 50em) {
  .primary-header {
    height: 14vh;
  }

  .nav-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: 14vh;
    height: 92vh;
    width: 60vw;
    background-color: var(--clr-primary);
    transform: translateX(100%);
    transition: 500ms all ease-in;
    opacity: 0;
    overflow: hidden;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
  }
  .nav-links li {
    margin: 2rem 0;
  }
  .nav-social-icons {
    margin: 2rem 0;
  }
  .burger-btn {
    display: block;
  }
  .logo {
    width: 2.75rem;
  }
  html {
    overflow-x: hidden;
      -webkit-overflow-scrolling: none;

  }
}
.nav-wrapper-active {
  transform: translateX(0%);
  opacity: 1;
  /* display: flex; */
  /* position: fixed; */
}
/*MAIN SECTION*/

.main {
  background: url("./images/code-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1px solid var(--clr-lightGrey);
  box-shadow: 0 0 7px var(--clr-lightGrey);
}
.coder-text {
  background-color: rgba(255, 255, 255, 0.416);
  height: fit-content;
}
@media (min-width: 50em) {
  .coder-text p {
    --max-width: 400px;
    width: var(--max-width);
  }
}
.coder-heading::before {
  content: "<";
  color: var(--clr-primary);
  margin: 0;
}
.coder-heading::after {
  content: ">";
  color: var(--clr-primary);
}
.coder-heading {
  font-size: 3rem;
}
@media (min-width: 65em) {
  .coder-text {
    margin-left: 13rem;
    margin-top: 5rem;
  }
  .coder-heading {
    font-size: 6rem;
  }
}

@media (max-width: 425px) {
  .profile-img {
    max-width: 300px;
  }
}
@media (min-widht: 50em) {
  .profile-img {
    max-width: 600px;
  }
}
/*Utility classes*/
.text-center {
  text-align: center;
}
.ff-primary {
  font-family: var(--ff-primary);
}
/*text color*/
.text-primary {
  color: var(--clr-primary);
}
.text-accent {
  color: var(--clr-accent);
}
.text-lightGrey {
  color: var(--clr-lightGrey);
}
.text-darktGrey {
  color: var(--clr-darkGrey);
}

.padding-block-400 {
  padding: var(--size-400);
}
.padding-block-500 {
  padding: var(--size-500);
}
.padding-block-600 {
  padding: var(--size-600);
}
.padding-block-700 {
  padding: var(--size-700);
}
.padding-block-800 {
  padding: var(--size-800);
}
.padding-block-900 {
  padding: var(--size-900);
}
/*font sizes*/

.fs-body {
  font-size: var(--fs-body);
}
.fs-primary-heading {
  font-size: var(--fs-primary-heading);
}
.fs-secondary-heading {
  font-size: var(--fs-secondary-heading);
}
.fs-nav {
  font-size: var(--fs-nav);
}
.fs-paragraph {
  font-size: var(--fs-paragraph);
}
.fs-card-title {
  font-size: var(--fs-card-title);
}
@media (min-width: 50em) {
  .fs-primary-heading {
    font-size: var(--fs-900);
  }
  .fs-secondary-heading {
    font-size: var(--fs-800);
  }
}
